<h1>Available Pick-up Games</h1>

<% if @pickups.any?%>
<ul>
  <% @pickups.each do |pickup| %>
    <li>
      <%= link_to "#{pickup.name} - #{pickup.location}", pickup_path(pickup), class:"button" %>
      <%= link_to 'Join', pickup_path(pickup), class: 'btn btn-primary' %>
    </li>
  <% end %>
</ul>
<% else %>
<h1> Nothing</h1>
<% end %>
